@model Uczelnia.Models.Baza

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Baza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Prowadzacy.Imie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prowadzacy.Nazwisko)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Przedmiot.NazwaPrzemiotu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Przedmiot.NazwaPrzemiotu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student.LastName)
        </dd>
        

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BazaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
